PORT=5000
MONGO_URI=mongodb+srv://nikitaa4822_db_user:bob5f32KThdglcer@cluster0.hkyoc8u.mongodb.net/gigflow?retryWrites=true&w=majority
JWT_SECRET=@adkfjakjfeljeijijk
JWT_EXPIRE=7d
NODE_ENV=development
FRONTEND_URL=http://localhost:3000